freemarker_templates/IESN_BatchFileAdapter_27X/SOA/Schemas/vocabulary_1.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema targetNamespace="http://hphc.org/schema/vocabulary/v2" elementFormDefault="qualified"
     attributeFormDefault="unqualified" version="2" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:tns="http://hphc.org/schema/vocabulary/v2">
    <xsd:simpleType name="applicationCodeType">
        <xsd:annotation>
            <xsd:documentation>HPHC three character application codes as defined in Uber BCD</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="stateAbbreviationCodeType">
        <xsd:annotation>
            <xsd:documentation>US State abbreviation codes</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="AL">
                <xsd:annotation>
                    <xsd:documentation>Alabama</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="AK">
                <xsd:annotation>
                    <xsd:documentation>Alaska</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="AR">
                <xsd:annotation>
                    <xsd:documentation>Arkansas</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="AZ">
                <xsd:annotation>
                    <xsd:documentation>Arizona</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="AS">
                <xsd:annotation>
                    <xsd:documentation>American Samoa</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CA">
                <xsd:annotation>
                    <xsd:documentation>California</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CO">
                <xsd:annotation>
                    <xsd:documentation>Colorado</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CT">
                <xsd:annotation>
                    <xsd:documentation>Connecticut</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DE">
                <xsd:annotation>
                    <xsd:documentation>Delaware</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DC">
                <xsd:annotation>
                    <xsd:documentation>District of Columbia</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="FL">
                <xsd:annotation>
                    <xsd:documentation>Florida</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="FM">
                <xsd:annotation>
                    <xsd:documentation>Federated States of Micronesia</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="GA">
                <xsd:annotation>
                    <xsd:documentation>Georgia</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="GU">
                <xsd:annotation>
                    <xsd:documentation>Guam</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="HI">
                <xsd:annotation>
                    <xsd:documentation>Hawaii</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ID">
                <xsd:annotation>
                    <xsd:documentation>Idaho</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="IL">
                <xsd:annotation>
                    <xsd:documentation>Illinois</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="IN">
                <xsd:annotation>
                    <xsd:documentation>Indiana</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="IA">
                <xsd:annotation>
                    <xsd:documentation>Iowa</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="KS">
                <xsd:annotation>
                    <xsd:documentation>Kansas</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="KY">
                <xsd:annotation>
                    <xsd:documentation>Kentucky</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="LA">
                <xsd:annotation>
                    <xsd:documentation>Lousiana</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ME">
                <xsd:annotation>
                    <xsd:documentation>Maine</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MD">
                <xsd:annotation>
                    <xsd:documentation>Maryland</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MA">
                <xsd:annotation>
                    <xsd:documentation>Massachusetts</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MI">
                <xsd:annotation>
                    <xsd:documentation>Michigan</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MN">
                <xsd:annotation>
                    <xsd:documentation>Minnesota</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MS">
                <xsd:annotation>
                    <xsd:documentation>Mississipi</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MO">
                <xsd:annotation>
                    <xsd:documentation>Missouri</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MT">
                <xsd:annotation>
                    <xsd:documentation>Montana</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MH">
                <xsd:annotation>
                    <xsd:documentation>Marshall Islands</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MP">
                <xsd:annotation>
                    <xsd:documentation>Northern Mariana Islands</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NE">
                <xsd:annotation>
                    <xsd:documentation>Nebraska</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NV">
                <xsd:annotation>
                    <xsd:documentation>Nevada</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NH">
                <xsd:annotation>
                    <xsd:documentation>New Hampshire</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NJ">
                <xsd:annotation>
                    <xsd:documentation>New Jersey</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NM">
                <xsd:annotation>
                    <xsd:documentation>New Mexico</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NY">
                <xsd:annotation>
                    <xsd:documentation>New York</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NC">
                <xsd:annotation>
                    <xsd:documentation>North Carolina</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ND">
                <xsd:annotation>
                    <xsd:documentation>North Dakota</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="OR">
                <xsd:annotation>
                    <xsd:documentation>Oregon</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="OK">
                <xsd:annotation>
                    <xsd:documentation>Oklahoma</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="OH">
                <xsd:annotation>
                    <xsd:documentation>Ohio</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PR">
                <xsd:annotation>
                    <xsd:documentation>Puerto Rico</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PA">
                <xsd:annotation>
                    <xsd:documentation>Pennsylvania</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PW">
                <xsd:annotation>
                    <xsd:documentation>Palau</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="RI">
                <xsd:annotation>
                    <xsd:documentation>Rhode Island</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="SC">
                <xsd:annotation>
                    <xsd:documentation>South Carolina</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="SD">
                <xsd:annotation>
                    <xsd:documentation>South Dakota</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="TN">
                <xsd:annotation>
                    <xsd:documentation>Tennessee</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="TX">
                <xsd:annotation>
                    <xsd:documentation>Texas</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UM">
                <xsd:annotation>
                    <xsd:documentation>U.S. Minor Outlying Islands</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UT">
                <xsd:annotation>
                    <xsd:documentation>Utah</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="VT">
                <xsd:annotation>
                    <xsd:documentation>Vermont</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="VA">
                <xsd:annotation>
                    <xsd:documentation>Virginia</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="VI">
                <xsd:annotation>
                    <xsd:documentation>Virgin Islands</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="WA">
                <xsd:annotation>
                    <xsd:documentation>Washington</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="WV">
                <xsd:annotation>
                    <xsd:documentation>West Virginia</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="WI">
                <xsd:annotation>
                    <xsd:documentation>Wisconsin</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="WY">
                <xsd:annotation>
                    <xsd:documentation>Wyoming</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="">
                <xsd:annotation>
                    <xsd:documentation>Empty string value to implement the enum as nillable</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="roleStatusNormalType">
        <xsd:annotation>
            <xsd:documentation>This code set is used as a modifier for the provider role and territorial authority.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="normal"/>
            <xsd:enumeration value="active"/>
            <xsd:enumeration value="cancelled"/>
            <xsd:enumeration value="pending"/>
            <xsd:enumeration value="suspended"/>
            <xsd:enumeration value="terminated"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="genderType">
        <xsd:annotation>
            <xsd:documentation>This code set is used to specify the gender of a person.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Female"/>
            <xsd:enumeration value="Male"/>
            <xsd:enumeration value="Unknown"/>
            <xsd:enumeration value="Ambiguous"/>
            <xsd:enumeration value=""/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ynEnumType">
        <xsd:annotation>
            <xsd:documentation>Enum for Boolean (Y, N)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="communicationType">
        <xsd:annotation>
            <xsd:documentation>Communication type like - Phone, Fax, Email etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Phone"/>
            <xsd:enumeration value="Mobile"/>
            <xsd:enumeration value="Email"/>
            <xsd:enumeration value="Fax"/>
            <xsd:enumeration value="Office"/>
            <xsd:enumeration value="Billing"/>
            <xsd:enumeration value="Other"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="locationType">
        <xsd:annotation>
            <xsd:documentation>Location type like - Home, Office etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Home"/>
            <xsd:enumeration value="Office"/>
            <xsd:enumeration value="Other"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="resultStatusType">
        <xsd:annotation>
            <xsd:documentation>Transaction status, like SUCCESS, FAILURE, UNKNOWN</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Success">
                <xsd:annotation>
                    <xsd:documentation>Receiving application successfully processed message.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Failure">
                <xsd:annotation>
                    <xsd:documentation>Receiving application found error in processing message. Sending error response with additional error detail information.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Unknown">
                <xsd:annotation>
                    <xsd:documentation>Receiving application failed to process message for reason unrelated to content or format. Original message sender must decide on whether to automatically send message again.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="resultCodeType">
        <xsd:annotation>
            <xsd:documentation>Result Codes like HIPAA, LEGACY (NEHEN) and MITS</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HIPAA"/>
            <xsd:enumeration value="LEGACY"/>
            <xsd:enumeration value="SDI"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="actionToRecoverType">
        <xsd:annotation>
            <xsd:documentation>Action To Recover like RETRY, RETRY LATER, PERMANENT FAILURE</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Retry"/>
            <xsd:enumeration value="RetryLater"/>
            <xsd:enumeration value="PermanentFailure"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="dateOfBirthInterpretationTypeEnumType">
        <xsd:annotation>
            <xsd:documentation>Exactness of the Date Of Birth E=Exact, D=Day not known, M=Month not known</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="E"/>
            <xsd:enumeration value="D"/>
            <xsd:enumeration value="M"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
<!-- edited with XMLSpy v2012 rel. 2 (x64) (http://www.altova.com) by Jesha Robson (Harvard Pilgrim HealthCare) -->
<!-- Last updated by Indu Singh - isingh1 (HPHC) April 27, 2011 -->
